/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 15 Oct 2021, 11:03:13
    Author     : andrea
*/

html {
  font-family: monospace;
  font-size: 16px;
}
h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.grid {
  background: #eee;
  border: 1px solid #aaa;
  padding: 1rem .3rem;
}

label {
  display: block;
}
input {
  display: block;
  width: 100%;
}

.form-cell {
  padding: .5rem;
}