.t-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.t-form-body {
  overflow: auto;
  flex: 1 1 auto;
  position: relative;
  padding: 0;
}

.t-form-ba {
  /*margin-top: 1rem;*/
  /*flex: 0 0 auto;*/
}

.t-form-cell {
  padding:  0 .5rem;
  margin: .5rem auto;
  width: 100%;
  /*border: 1px solid red;*/
}

.t-form fieldset {
  /*border: 1px solid red;*/
}

/*

*/.t-form label {
  display: block;
  display: inline-block;
  margin:.3rem auto;
  margin: 0;
  width: 100%;
  font-weight: bold;
  color: #333;
}/*


*/
.t-form input,
.t-form select,
.t-form textarea {
  font-family: mono;
  width: 100%;
  color: #fff;
  border: 1px solid #999;
  padding: .3rem 0;
}
.t-form input:focus,
.t-form input[type="file"],
.t-form textarea:focus {
  background: #e1e1e1;
  /*border-bottom-color: var(--text);*/
  /*color: var(--text);*/
}/*
*/
.t-form textarea {
  /*scrollbar-color: black gray;*/
  resize: none;
}
/*

.t-form select {
  appearance:none;
}

#toco-btn,
.t-form button {
  font-family: mono;
   background: var(--text);
  background: #c49300;
  border: 1px solid #c49300;
  color: black;
  padding: .3rem;
   outline: none;
}
#toco-btn:focus,
.t-form button:focus {
  background: var(--text);
  background: #ffea00;
  border: 1px solid var(--text);
  color: black;

}
input[type="file"] {
  opacity: 0;
  width: 100%;
  border: 1px solid red;
}
.t-form .t-form-inline > input,
.t-form .t-form-inline > select {
  display: inline-flex;
  width: auto;
}

.form-cell-error input {
  border-bottom: 1px solid #ff3f00;
   border-left: 8px solid #ff3f00;
}
.form-cell-error span {
  color: #ff3f00;
}
@media only screen and (min-width: 60.625em) {  min-width 970px, large screens
}*/
