input[type="checkbox"] {
  display: none;
  /* position: absolute; */
  /* opacity:0; */
  /* width: 0; */
  /* height: 0; */
  /* z-index: -1; */
}
input + label:before {
  content: '[ ]';
}
input:checked + label:before {
  content: '[X]';
}




.t-listing {
  width: 100%;
  border-collapse: collapse;
}

.t-listing thead {
  background: var(--tbl-head-bg);
  border-bottom: 1px solid var(--text);
}
.t-listing thead th {
  padding: .5rem .3rem;
  text-align: left;
  font-weight: bold;
  color: var(--tbl-head-fg);
}

.t-listing tr td {
  padding: .3rem;
}
.t-listing th,
.t-listing tr td {
  border-bottom: 1px solid var(--tbl-border);
}

.t-info-bar {
  /*color: #ffa07a;*/
}

.t-list-parent {
  padding: .5rem 0;
  /*border-bottom: 1px solid var(--tbl-border);*/
  margin-bottom: 1rem;
  background: #333;
}

.t-list-parent-cell {
  padding: .3rem 0;
  margin-right: 3rem;
  /*border: 1px solid red;*/
  /*border: 1px solid #111;*/
}

.cell-head {
  color: #fff;
}
.label {
  color: var(--frm-label-fg);
}

.t-list-parent .cell {
  /*margin: 0 .5rem;*/
  /*text-align: right;*/
}