.t-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.t-form-body {
  overflow: auto;
  flex: 1 1 auto;
  position: relative;
  padding: 0;
}

.t-form-ba {
  margin-top: 1rem;
  flex: 0 0 auto;
}

.t-form-cell {
  /* padding:  0 .5rem; */
  margin: .5rem auto;
  /* width: 100%; */
}

.t-form label {
  display: block;
  display: inline-block;
  margin-bottom: .3rem;
  width: 100%;
  font-weight: bold;
  color: #ffd400;
}

.t-form fieldset {
  border: 1px solid #666;
}

.t-form legend {
  background: #666;
  padding: .5rem;
  margin: 0;
  color: #000;
}

.t-form input,
.t-form select,
.t-form textarea {
  font-family: t-mono;
  width: 100%;
  background: #140f00;
  color: var(--text);
  border: 1px solid #e6ac00;
  padding: .3rem;
}

.t-form input:focus,
.t-form input[type="file"],
.t-form textarea:focus {
  background: #271d00;
  border: 1px solid #ffff00;
  color: var(--text);
}
.t-form input:disabled,
.t-form input[type="file"]:disabled,
.t-form textarea:disabled {
  background: #c9874f;
  border: none;
  color: var(--text);
}
.t-form textarea {
  scrollbar-color: black gray;
}

.t-form select {
  appearance:none;
}

.toco-btn,
.t-form button {
  font-family: mono;
  background: #b38600;
  border: 1px solid #b38600;
  color: #000;
  padding: .3rem .5rem;
  border-radius: .3rem;
  /* outline: none; */
}
.toco-btn:focus,
.t-form button:focus {
  background: #e6ac00;
  border: none;
  border: 1px solid #fff;
  color: white;
  color: black;
}
.toco-btn:hover {
  background: var(--text);
  color: #000;
}
input[type="file"] {
  opacity: 0;
  width: 100%;
  border: 1px solid red;
}
.t-form .t-form-inline > input,
.t-form .t-form-inline > select {
  display: inline-flex;
  width: auto;
}

.t-form-cell-error input {
  border-bottom: 1px solid #ff3f00;
  /* border-left: 8px solid #ff3f00; */
}
.t-form-cell-error span {
  color: #ff3f00;
}
@media only screen and (min-width: 60.625em) { /* min-width 970px, large screens */
}
