.toco-btn {
  font-family: mono;
  padding: .3rem .5rem;
  border-radius: .3rem;
  text-transform: uppercase;
}

.toco-btn-primary {
  color: var(--btn-primary-fg);
  background: var(--btn-primary-bg);
  border: 1px solid var(--btn-primary-border);
}
.toco-btn-info {
  background: var(--btn-info-bg);
}
.toco-btn-success {
  background: var(--btn-success-bg);
}
.toco-btn-warning {
  background: var(--btn-warning-bg);
}
.toco-btn-danger {
  background: var(--btn-danger-bg);
}

.toco-btn:focus {
  /*filter: invert(100%);*/
  filter: brightness(80%);
}
.toco-btn:hover {
  /*filter: invert(100%);*/
  filter: brightness(150%);
  /*color: #000;*/
}
input[type="file"] {
  opacity: 0;
  width: 100%;
  border: 1px solid red;
}

