:root {
  --bg: #000000;
  --text-fg: #ffbf00;
  /*--text-fg: #eeeeee;*/
  --focus-bo: #fff;
  --menu-bg: #111111;
  --menu-fg: #ffbf00;
  --primary-bg: #1847ac;
  /*--btn-primary-bg: #4e3b00;*/
  --btn-primary-bg: #334268;
  /*--btn-primary-border: #c49300;*/
  --btn-primary-border: #627d98;
  --btn-primary-fg: #ffffff;
  --btn-info-bg: #1847ac;
  --btn-success-bg: green;
  --btn-warning-bg: #ffd700; /* gold */
  --btn-danger-bg: #b22222;  /* FireBrick */
  --btn-bg: #1847ac;
  --btn-fg: #fff;
  --btn-bo: #1847ac;
  --pal-4: #2b3016;
  --pal-5: #9b4e00;
  --pal-6: #ac3501;
  --pal-7: #e5d3a5 ;
  --pal-8: #e6a503;
  --pal-9: #eff0ef;
  --bg0: #f89345;
  --bg1: #fad958;
  /*--table-head-bg: #e67e22;*/
  /*--frm-input-bg: #271b00;*/
  --frm-label-fg: #dddddd;
  --frm-input-bg: #141414;
  --frm-input-fg: #ffbf00;
  --frm-input-border: #4e3b00;
  --frm-input-disabled: #999999;
  --frm-input-disabled-border: #666666;
  --frm-input-focus-bg: #292929;
  --frm-input-focus-fg: #ffbf00;
  /*--tbl-head-bg: #3b2c00;*/
  --tbl-head-bg: #353535;
  --tbl-head-fg: #dddddd;
  --tbl-border: #f1a027;
}

body {
  background-color: var(--bg);
}

.toco-row > div {
  /* border:1px solid red; */
}
@font-face {
  font-family: t-mono;
  src: url(/font/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}

@font-face {
  font-family: t-bold;
  src: url(/font/IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
}
html,
body {
  height: 100%; /* needed for proper layout */
}

body {
  font-family: t-mono, mono;
  margin: 0;
  color: var(--text-fg);
  background: var(--bg);
}
a {
  color: #ffff00;
}
a:focus {
  color: #ffcc33;
}

#t-wrapper {
  height: 100%;
  /* min-height: 100vh; */
  /* justify-content: space-between; */
  /* min-height: 100%; */
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
}

#t-header {
  /*text-align: center;*/
  border-bottom: 1px solid var(--text-fg);
  margin-bottom: 1rem;
  flex: none;
  width: 100%;
}

.header-menu-area {
  border: 1px solid var(--text-fg);
  text-align: center;
  margin-right: 1rem;
}

.header-menu-area a {
  /*color: var(--bg);*/
}

#t-main {
  padding: 0;
  /* position: relative; */
  overflow-y: auto;
  flex: 1 1 0;
  padding: 0 1rem;
  width: 100%;
}
#t-footer {
  border-top: 1px solid var(--text);
  flex: none;
  width: 100%;
}

#t-header,
#t-footer {
  padding: .5rem 1rem;
}

*:focus {
  /* color: #ffea00; */
}


.toco-btn-bar {
  margin: .5rem auto;
  padding: 0;
}

.toco-btn-bar button {
  margin: .3rem auto;
}
::selection,
::-moz-selection {
  background: var(--text-fg); /* WebKit/Blink Browsers */
  color: var(--bg);
}

[class^="toco-"]{
  /*border:1px solid red;*/
}

.gut > div {
  margin-left: 1rem;
  margin-right: 1rem;
  /*border: 1px solid red;*/
}
.container {
  margin: 0 auto;
}
@media only screen and (min-width: 80em) { /* min-width 1280px, large screens */
  body {
    font-size: 1.3rem;
  }
  .container {
    width: 1280px;
  }
}

@media only screen and (min-width: 90em) { /* min-width 1440px, xlarge screens */
  body {
    font-size: 1.45rem;
  }
  .container {
    width: 1440px;
  }
}

@media only screen and (min-width: 120em) { /* min-width 1920px, xxlarge screens */
  .container {
    width: 1920px;
  }
}

