
#t_main_menu .toco-i {
  border: 1px solid red;
}

.t-menu {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--menu-bg);
  overflow-x: hidden;
  transition: 0.3s;
  /*padding-top: 60px;*/
}

#t_main_menu-body {
  align-items: center;
  justify-content: center;
}

.t-menu a {
  /*padding: 8px 8px 8px 32px;*/
  text-decoration: none;
  /*font-size: 25px;*/
  color: var(--menu-fg);
  display: block;
  transition: 0.3s;
  font-size: 1.5rem;
  margin: 1rem auto;
}

.t-menu a:hover {
  /*color: #f1f1f1;*/
}

.t-menu .closebtn {
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 25px;*/
  /*font-size: 36px;*/
  /*margin-left: 50px;*/
}

/*.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}*/