#t-header-content {
  justify-content: flex-start;
}

/* Style the list */
ol.t-breadcrumb {
  padding: .3rem 1rem;
  list-style: none;
  margin: 0;
}

/* Display list items side by side */
ol.t-breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ol.t-breadcrumb li+li:before {
  content: "/\00a0";
}
