.t-alert {
  width: 100%;
  padding: .5rem;
  color: black;
  margin: .5rem auto;
}

.t-alert-danger {
  background-color: #ff3f00;
}

.t-alert-warning {
  background-color: #ff7f00;
}
.t-alert-success {
  background-color: var(--text);
  background-color: darkgreen;
  color: #ddd;
}
.t-alert-info {
  background-color: #c49300;
}


