<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tamiso</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/toco-core.css">
    <link rel="stylesheet" href="/css/tamiso.css">
    <link rel="stylesheet" href="/css/tamiso_header.css">
    <link rel="stylesheet" href="/css/tamiso_button.css">
    <link rel="stylesheet" href="/css/tamiso_form.css">
    <link rel="stylesheet" href="/css/tamiso_listing.css">
    <link rel="stylesheet" href="/css/tamiso_alert.css">
    <link rel="stylesheet" href="/css/tamiso-login.css">
    <link rel="stylesheet" href="/css/tamiso-menu.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="https://kit.fontawesome.com/da373cf37e.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="t-wrapper" class="toco-col">
      <?php sesto_view_render($views, 'main_menu', $data, false); ?>
      <?php sesto_view_render($views, 'page_header', $data, false); ?>
      <?php sesto_view_render($views, 'page_main', $data); ?>
      <?php sesto_view_render($views, 'page_footer', $data, false); ?>
      <!--<script src="/js/toco.js"></script>-->
    </div>
<!--    <script>
      ss_tab_name = sessionStorage.getItem('tamiso_tab_name');
      console.log('ss_tab_name ' + ss_tab_name);
      console.log('window.name ' + window.name);
      if (null === ss_tab_name && '' === window.name) {
        ss_tab_name = Math.floor((Math.random() * 10000) + 1);
        ss_tab_name = '<? // $data['tid'] ?>';
        sessionStorage.setItem('tamiso_tab_name', ss_tab_name);
        window.name = ss_tab_name;
      } else if (null !== ss_tab_name && '' === window.name && 1 !== performance.navigation.type) {
        alert('you have cloned/dublicated the tab, idiot!');
      }
      console.log('ss_tab_name ' + ss_tab_name);
      console.log('window.name ' + window.name);
      console.log(window.name);

      function tamiso_go_to_dataset_url(caller)
      {
        elem = document.getElementById('t-action-url');
        window.location.href = caller.dataset.url;
      }
    </script>-->
    <script>
      function openNav() {
//        document.getElementById("mySidebar").style.width = "100%";
        $("#t_main_menu").css("height", "100%");
//        document.getElementById("main").style.marginLeft = "0";
      }

      function closeNav() {
//        document.getElementById("mySidebar").style.width = "0";
        $("#t_main_menu").css("height", "0");
//        document.getElementById("main").style.marginLeft = "0";
      }

//  $(document).on("click","[id^=t-action-btn-]",                            [form] => t-context-form function () {
//  $('[id^=t-action-button-]').click(function() {
//    console.log(this);
//    alert( "Handler for .click() called." + $(this).data('target'));
//  });

      $( ".t-btn-context" ).on( "click", function() {
        $('#t-target').val($(this).data('target'));
        alert($(this).data('target'));
      });

      $( ".t-btn-goto" ).on( "click", function() {
        window.location.href = this.value;
      });

//      function t_button_context_click(caller) {
//        $('#target_url').val($(caller).data('target'));
//      }

//      function tamiso_set_context_url(caller)
//      {
//        elem = document.getElementById('t-action-url');
//        elem.value = caller.dataset.url;
//      }

//      function t_button_click(caller) {
//        $('#target_url').val(this.value);
//      }

      function tamiso_label(caller)
      {
        elem = document.getElementById(caller.htmlFor);
        /* elem = caller.htmlFor; */
        elem.checked = !elem.checked;
      }
    </script>
  </body>
</html>
