<?php sesto_view_render($views, 'list_header', $data); ?>
<form id="t-context-form" method="post" action="<?= $data['form_action'] ?>">
  <table class="t-listing">
    <thead>
      <tr>
        <th class="toco-w-1-24"></th>
        <?php foreach ($data['screen']['cols'] ?? [] as $col): ?>
          <th class="toco-w-<?= $col['size'] ?>"><?= $col['label'] ?></th>
        <?php endforeach ?>
      </tr>
    </thead>
    <tbody>
    <?php foreach($data['records'] ?? [] as $num => $record): ?>
      <tr>
        <td class="toco-w-1-24 listing">
          <input id="<?= $num ?>" name="ids[]" value="<?= $record[$data['screen']['id']] ?>" type="checkbox" />
          <label tabindex="0" for="<?= $num ?>" onkeypress="tamiso_label(this)" > </label>
        </td>
        <?php foreach ($data['screen']['cols'] ?? [] as $col_name => $col): ?>
          <td class="toco-w-<?= $col['size'] ?>"><?= $record[$col_name] ?></td>
        <?php endforeach ?>
      </tr>
    <?php endforeach ?>
    </tbody>
  </table>
  <!--<input id="t-tid" name="tid" value="<?= $data['tid'] ?>" type="hidden" />-->
<!--  <input id="t-target" name="target" value="<?= $data['target'] ?>" type="hidden" />-->
</form>
<script>
  function tamiso_label(caller)
  {
    elem = document.getElementById(caller.htmlFor);
    /* elem = caller.htmlFor; */
    elem.checked = !elem.checked;
  }
</script>
