<div class="t-list-parent toco-row">
  <?php if (isset($data['t_grandparent'])): ?>
    <div class="t-list-parent-cell">
      <?php foreach ($data['t_actions_grandparent'] as $name => $action): ?>
        <?= tamiso_html_btn_link($name, $action) ?>
      <?php endforeach ?>
      <?= $data['t_grandparent']['value'] ?>
    </div>
  <?php endif ?>
  <div class="t-list-parent-cell">
    <?php foreach ($data['t_actions_parent'] as $name => $action): ?>
      <?= tamiso_html_btn_link($name, $action) ?>
    <?php endforeach ?>
    <?= $data['t_parent']['value'] ?>
  </div>
</div>
