<div class="t-list-parent toco-row">
  <?php foreach ($data['family'] as $member): ?>
    <div class="t-list-parent-cell">
      <?php foreach ($member['elements'] as $element): ?>
        <?= sesto_html_build($element) ?>
      <?php endforeach ?>
      <?= $member['caption'] ?>
    </div>
  <?php endforeach; ?>
</div>
