<div id="t_main_menu" class="t-menu">
  <div class="toco-col">
    <div class="toco-1">
      <div class="toco-row">
        <div class="toco-1">
          <div id="t_main_menu-body" class="toco-col">
            <a class="toco-12-24" href="/tamiso/main/menu">Tamiso</a>
            <a class="toco-12-24" href="/bella/main/menu">Bella CMS</a>
            <a class="toco-12-24" href="/doman/main/menu">Doman</a>
            <a class="toco-12-24" href="/t9n/main/menu">T9N</a>
            <a class="toco-12-24" href="/tamiso/session/logout">Logout</a>
            <button class="toco-btn toco-btn-primary closebtn" onclick="closeNav()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
