<div id="t-menu" class="toco-row">
  <div class="toco-1-3">
    <div class="toco-col">
      <?php foreach ($data['menu'][1] ?? [] as $item): ?>
        <?= sesto_html_build($item) ?>
      <?php endforeach ?>
    </div>
  </div>
  <div class="toco-1-3">
    <div class="toco-col">
      <?php foreach ($data['menu'][2] ?? [] as $num => $item): ?>
        <a class="toco-1"><?= $num ?>. <?= $item ?></a>
      <?php endforeach ?>
    </div>
  </div>
  <div class="toco-1-3">
    <div class="toco-col">
      <?php foreach ($data['menu'][3] ?? [] as $num => $item): ?>
        <a class="toco-1"><?= $num ?>. <?= $item ?></a>
      <?php endforeach ?>
    </div>
  </div>
</div>

