<div id="t-footer" class="toco-auto">
  <div id="t-bottom-button-bar" class="toco-btn-bar">
    <?php foreach($data['actions']['footer'] ?? [] as $name => $action): ?>
      <?= sesto_html_build(sesto_html_element('button', $action['attribs'], $action['content'])) ?>
    <?php endforeach ?>
  </div>
</div>
