
<?php foreach ($data['screen']['fieldsets']['rows'] ?? [] as $row_num => $row): ?>
  <?php //sesto_dump($row);  ?>
  <!-- row -->
  <div id="t-row-<?= $row_num ?>" class="toco-row t_form_row  gut">
    <?php foreach ($row['cells'] as $field_name => $cell): ?>
      <!-- cell -->
      <?php $validation_class = isset($data['validation'][$field_name]) ? 'form-cell-error' : '' ?>
      <div id="t-cell-<?= $field_name ?>"
           class="toco-<?= $cell['size'] ?> t-form-cell <?= $validation_class ?>" >
        <!-- label -->
        <span><?= $cell['label'][0] ?></span>
        <span><?= $data['record'][$field_name] ?></span>
      </div>
      <!-- end cell -->
    <?php endforeach ?>
  </div>
  <!-- end row -->
<?php endforeach ?>
<?php foreach ($data['screen']['hidden'] ?? [] as $field_name): ?>
  <?= tamiso_html_input($field_name, $data['record'][$field_name], 'input', ['type' => 'hidden']) ?>
<?php endforeach ?>
