<?php sesto_view_render($views, 'list_header', $data); ?>
<form <?= sesto_html_attribs($data['screen']['attribs']) ?> >
  <input type="hidden" name="csrf" value="<?= $data['csrf'] ?? '' ?>" />
  <?php foreach ($data['screen']['fieldsets'] as $fielset_num => $fieldset): ?>
    <!--fieldset-->
    <?php if ($fieldset['visible']): ?>
      <fieldset <?= sesto_html_attribs($fieldset['attribs'] ?? []) ?> >
        <?php if (isset($fieldset['legend'])): ?>
          <legend <?= sesto_html_attribs($fieldset['legend_attribs']) ?>><?= $fieldset['legend'] ?></legend>
        <?php endif ?>
      <?php endif ?>
      <!-- row -->
      <?php foreach ($fieldset['rows'] ?? [] as $row_num => $row): ?>
        <div <?= sesto_html_attribs($row['attribs']) ?>>
          <!-- cell -->
          <?php foreach ($row['cells'] as $field_name => $cell): ?>
            <div <?= sesto_html_attribs($cell['attribs']) ?> >
              <!-- label -->
              <?php if ($cell['label_visible']): ?>
                <label <?= sesto_html_attribs($cell['label_attribs']) ?>><?= $cell['label'] ?></label>
              <?php endif ?>
              <?php foreach ($cell['elements'] as $element_num => $element): ?>
                <?= sesto_html_build($element) ?>
              <?php endforeach ?>
              <?php if ('' !== $cell['validation']): ?>
                <span><?= $cell['validation'] ?></span>
              <?php endif ?>
            </div> <!-- end cell -->
          <?php endforeach ?>
        </div> <!-- end row -->
      <?php endforeach ?>

      <?php if ($fieldset['visible']): ?>
      </fieldset>
    <?php endif ?>
  <?php endforeach ?>
  <?php foreach ($data['screen']['hiddens'] ?? [] as $element): ?>
    <?= sesto_html_build($element) ?>
  <?php endforeach ?>
  <div class="toco-row gut">
    <?php foreach ($data['screen']['buttons'] ?? [] as $button): ?>
      <div class="toco-auto">
        <?= sesto_html_build($button) ?>
      </div>
      <?php endforeach ?>
  </div>
</form>
