<?php sesto_view_render($views, 'list_header', $data); ?>
<form
  id="t-context-form"
  class="t-form"
  action="<?= $data['form_action'] ?>"
  novalidate=""
  method="post">

  <?php foreach ($data['screen']['fieldsets']['rows'] ?? [] as $row_num => $row): ?>
    <!-- row -->
    <div <?= sesto_html_attribs($row['attribs']) ?> >
      <?php foreach ($row['cells'] ?? [] as $cell_num => $cell): ?>
        <!-- cell -->
        <div <?= sesto_html_attribs($cell['attribs']) ?> >
          <!-- label -->
          <?= sesto_html_build($cell['label']) ?>
          <!-- control -->
          <?= sesto_html_build($cell['control']) ?>
          <!-- validation -->
          <?php if ('' !== $cell['validation']): ?>
            <span><?= $cell['validation'] ?></span>
          <?php endif ?>
        </div>
        <!-- end cell -->
      <?php endforeach ?>
    </div>
    <!-- end row -->
  <?php endforeach ?>
  <?php foreach ($data['screen']['hidden'] ?? [] as $html_element): ?>
    <?= sesto_html_build($html_element) ?>
  <?php endforeach ?>
  <?php foreach ($data['screen']['t_private'] as $html_element): ?>
    <?= sesto_html_build($html_element) ?>
  <?php endforeach ?>
</form>
